@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MagicRetro";
  src: url("../../public/fontText/magic-retro.ttf");
}

@font-face {
  font-family: "Poppin";
  src: url("../../public/fontText/Poppins-Bold.ttf");
}

@font-face {
  font-family: "PoppinReg";
  src: url("../../public/fontText/Poppins-Regular.ttf");
}

body {
  background-color: #272b52;
  z-index: 0;
}
